<li>
  <div class='avatar'>
    <img src="<%= comment.gravatar %>">
  </div>

  <div class='content'>
    <header style='border: none; margin-bottom: 10px;'>
      <strong><%= comment.source.name %></strong>
    </header>

    <%= comment.body %>
  </div>

<div class='clear'></div>
</li>
