<section id='people'>
  
  <header>
    <h1>People</h1>

    <p>These are all the people in your account</p>

  </header>  

  <table>
    <tbody>
      <% current_user.people.each do |person| %>
        <tr>
          <td class='avatar'><%= image_tag person.gravatar('50') %></td>
          <td><%= person.name %></td>
          <td><%= person.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>


<% content_for :side do %>
  <div id='people-side'>
    <header>
      <h1>Add A New Person</h1>
    </header>

    <form action="/">      
      <div class='block'>
        <label for="name">Name</label>
        <input type="text" />
      </div>

      <div class='block'>
        <label for="name">Email</label>
        <input type="text" />
      </div>

      <button>Add Person</button>
    </form>
  </div>
<% end %>