<html>
<head>
  <title>Upload A Document</title>
  <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
  <section id='container'>
    <section id='upload'>
      <div id='drop'>
        <div class='inner'>
          <img src="doc.png">
          <h2>+ Upload a File</h2>
        </div>
      </div>

      <p class='intro'>Upload a file to get started.</p>

    </section>
  </section>
</body>
</html>