<section id='upload'.
  <section id='files'>
    <h3 style='margin-bottom: 10px; border-bottom: 1px solid #CCC;'>Documents</h3>
    <ul style='list-style: none'>
      <li><img src='http://placehold.it/150x200' /></li>
    </ul>
  </section>

</section>

<!-- <section id='upload'>
  <form id='upload-form'>
    <div id='drop'>
      <div class='inner'>
        <img src="/doc.png">
        <h2>+ Upload a File</h2>
        <input type='file' style='display: none;'>
      </div>
    </div>

    <p class='intro'>Upload a file to get started.</p>
  </form>
</section> -->