#container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 100px;
  border: 1px solid #CCC;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #333;
  background-color: white;
}

body {
  color: #333;
  background-color:  rgb(53, 52, 59);
}

label {
  display: block;
}

#outstanding-documents {
  margin-bottom: 80px;
  color: #777;
}

body {
  font-family: "Helvetica";
}

#upload {
  float: left;
  display: inline-block;
  margin-right: 50px;
}

#updates {
  background-color: #EEE;
  margin-bottom: 40px;
  color: #326ECF;
}

ul.bare {
  list-style: none;
  padding-left: 0;
}

a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #CCC;
}

a.action {
  color: #326ECF;
}

a:hover {
  color: #326ECF !important;
}

#updates h2 {
  padding: 5px;
  padding-left: 10px;
  font-size: 16px;
  display: inline-block;
}

#fields {
  width: 500px;
  float: right;
}

#drop {
  padding: 20px;
  border: 3px dashed #CCC;
  height: 250px;
}

#drop h2 {
  margin-top: 80%;
  text-align: center;
}

textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #CCC;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px;
}

textarea:focus {
  outline: none;
}

label {
  font-size: 14px;
  margin-bottom: 10px;
  color: #666;
  font-weight: bold;
}

.block {
  margin-bottom: 20px;
}

#add-cc {
  margin-bottom: 20px;
}

#cc-block {
  display: none;
}

input[type=text] {
  height: 30px;
  font-size: 20px;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 5px;
  height: 35px;
}

input[type=text]:focus {
  outline: none;
}

#main-header h1 a {
  font-size: 25px;
  color: #333;
  text-decoration: none;
}

#main-header h1 a:hover {
  color: #326ECF !important;
}

header {
  margin-bottom: 40px;
}

header h2 {
  margin-bottom: 20px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 10px;
}

li h3 {
  font-weight: normal;
}

li h3 span {
  color: #999;
}

h2 {
  font-size: 20px;
}

button {
  margin-top: 20px;
  float: right;
}

#add-comment {
  background-color: #EEE;
  padding: 10px;
}

#add-comment textarea {
  border: 1px solid #999;
}

#discussion {
  margin-top: 50px;
}

#login {
  width: 500px;
}

#login input[type=text], #login input[type=password] {
  width: 300px;
  height: 30px;
}

#login button {
  background-color: black;
  border: none;
  color: white;
  float: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Helvetica;
  padding: 5px;
}

#signed {
  margin-bottom: 50px;

}


#login #inner {
  width: 300px;
  margin: 0 auto;
}

.field {
  display: block;
  margin-bottom: 20px;
}

#blotter {
  margin-top: 50px;
  height: 100px;
  border-bottom: 1px solid #999;
}

.subtle {
  color: #666;
}

#document-thumbnails {
  list-style: none;
  padding: 0;
  overflow: hidden;
}

#document-thumbnails li {
  display: block;
  margin-bottom: 20px;
}

.clear {
  clear: both
}

.document-list h3 a {
  font-size: 20px;
  color: #444;
}

#show-document header {
  border-bottom: 1px solid #DDD;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#show-document header h1 {
  font-size: 25px;
  margin: 0;
  margin-top: 16px;
}

#recipients {
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

#recipients li {
  font-size: 18px;
  color: #888;
}

#main {
  float: left;
  width: 450px;
}

#main h2 {
  margin-top: 0;
}

#side {
  float: right;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CCC;
}

/* TODO: I don't like using important here */

#side a {
  color: #333;
  font-weight: bold;
}

#main section {
  margin-bottom: 40px;
}

#events ul {
  list-style: disc;
  padding-left: 20px;
}

#events li {
  margin-bottom: 10px;
}

#events li strong {
  color: #444;
}

span.comment {
  font-style: italic;
  color: #555;
}


#side-inner {
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
}

#side #thumbnail {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #DDD;
}

#side p, #side li {
  font-size: 14px;
}

#container:before,
#container:after {
    content:"";
    display:table;
}

#container:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
#container {
    zoom:1;
}


#top {
  margin-bottom: 40px;
  min-height: 300px;
}

#comments {
  list-style: none;
  padding-left: 0;
}

#comments li {
  padding: 5px;
  padding-bottom: 20px;
  width: 100%;
  min-height: 100px;
  border-bottom: 1px solid #DDD;
  margin-top: 10px;
}

#comments li .avatar {
  float: left;
  width: 100px;
  margin-right: 30px;
}

#comments li .content {
  float: left;
  width: 80%;
}

#comments li .content p {
  margin-top: 0px;
  line-height: 1.4em;
}

#comments-section {
  display: block;
}

#comments-section form {
  margin-top: 80px;
}

p.empty {
  color: #444;
  font-size: 14px;
}

label.error {
  color: rgb(255, 62, 62);
  margin-top: 15px;
}

/* The Public Document Page */

#document.public {

}

#document.public #toolbar a {
  font-size: 18px;
  margin-top: 40px;
}