* {
  padding: 0;
  margin: 0;
  outline: none;
}

body {      
  font-family: "Helvetica";
  font-size: 14px;
}

#bar {
  background-color: rgb(0, 25, 189);
  height: 10px;
  color: white;
}

#app {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#app #main-header {
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;      
  margin-bottom: 50px;
}

#app header {
  margin-bottom: 20px;
}

#app #main-header h1 {
  font-size: 30px;
  float: left;
}

#app header nav {
  float: right;
  position: relative;
  top: 13px;
}

#app header nav a {
  margin-left: 25px;
}

#app header nav a:hover {
  color: #444;
}

.clear {
  clear: both;
}

#app #main {
  width: 500px;
  float: left;
}

#app #side {
  width: 400px;
  float: right;
  height: 400px;
}

#app footer {
  border-top: 1px solid #CCC;
  padding-top: 20px;
  margin-top: 10px;
  color: #444;
  font-size: 14px;
  margin-bottom: 50px;
  text-align: right;
}

#clear {
  margin-top: 30px;
  display: block;
}

#activity {
  margin-bottom: 50px;
  padding: 15px;
  background-color: rgb(255, 250, 229);
}

a {
  color: rgb(18, 0, 255);
  font-weight: bold;
  text-decoration: none;

}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
}

p.sub {
  color: #666;
  margin-top: -12px;
}

ul.documents li {
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;

  width: 500px;
}

ul.documents li img {
  position: relative;
  top: 4px;
  margin-left: 5px;
}

ul.documents li span {
  font-weight: normal;
  color: #444;
  margin-left: 10px;
  margin-right: 10px;
}

#signed, #unsigned {
  margin-bottom: 60px;      
}

#actions {
  margin-bottom: 30px;
}