// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.alice {
  background-color: #EEE;
  height: 600px;
  width: 700px;
  margin-bottom: 20px;
  overflow: scroll;
  padding: 20px;
  position: relative;
  border: 5px solid #EEE;
}

.alice img.thumb {
  margin-bottom: 40px;
}

.alice .thumb.current {
  border: 2px solid yellow;
}

#document-viewer {
  margin-bottom: 40px;
}

#upload {
  float: left;
  display: inline-block;
}

#new-document {
  width: 1000px;
}

#new-document input[type=text], #new-document textarea {
  width: 500px;
}

#new-document #fields {
  float: left;
  width: 500px;
}

#new-document header {  
  height: 50px;
}

#add-cc {
  margin-bottom: 20px;
}

#cc-block {
  display: none;
}

.document-list-item a {
  font-size: 20px;
  color: black;
}
