$width: 350px;

input[type=text] {
  width: $width;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #CCC;
  padding: 5px;
  font-family: Helvetica;
  font-size: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: #666;
  font-weight: bold;
}

textarea {
  display: block;
  width: $width;
  border: 1px solid #CCC;
  height: 100px;
  padding: 10px;
  font-size: 15px;
  font-family: Helvetica;
}

.block {
  margin-bottom: 20px;
}

form button {
  margin-top: 30px;
}

label.error {
  color: #E45D54;
  margin-top: 15px;
}