<section id='updates'>
  <h2>2 Documents were signed since you were last here.</h2>
  <a href="#">details...</a>
</section>

<section id='signed'>
  <header>
    <h2>Signed Documents</h2>
    <p>Process them and move forward.</p>
  </header>

  <ul>
    <li><h3>Justin Woodbridge's <span>W9 Form</span></h3></li>
    <li><h3>Jason Fried's <span>Contract</span></h3></li>
    <li><h3>Rob Woodbridge's <span>Payment Order</span></h3></li>
  </ul>

</section>

<section id='outstanding-documents'>
  <header>
    <h2>Outstanding Documents</h2>
    <p style='font-size: 16px;'>These documents have not been signed yet, not much to do but wait.</p>
  </header>


  <ul>
    <li><h3>Justin Woodbridge's <span>W9 Form</span></h3></li>
    <li><h3>Jason Fried's <span>Contract</span></h3></li>
    <li><h3>Rob Woodbridge's <span>Payment Order</span></h3></li>
  </ul>
</section>


<section id='new-document'>
  <header>
    <h2>Upload A New Document</h2>
  </header>


  <form id='upload-form'>

    <section id='upload'>
      <div id='drop'>
        <div class='inner'>
          <h2>+ Upload a File</h2>
          <input type='file' style='display: none;'>
        </div>
      </div>

      <ul id='document-thumbnails'>

      </ul>
    </section>

    <section id='fields'>
        <div class='block'>
          <label>To:</label>
          <input type='text' data-people='<%= @user.people %>'/>
        </div>

        <div class='block'>
          <label>Message:</label>
          <textarea></textarea>

          <button>Send It</button>
        </div>
    </section>
  </form>
</section>

<div class='clear'></div>

