<html>
<head>
  <title>Upload A Document</title>
  <link rel="stylesheet" type="text/css" href="/app.css">
  <script type="text/javascript" src='/jquery.js'></script>
  <script type="text/javascript" src='/raphael.js'></script>
  <script type="text/javascript" src='/handlebars.js'></script>
  <script type="text/javascript" src='/underscore.js'></script>
  <script type="text/javascript" src='/backbone.js'></script>
  <script type="text/javascript" src='/jquery.ui.widget.js'></script>
  <script type="text/javascript" src='/jquery.fileupload.js'></script>
  <script type="text/javascript" src='/javascripts/autocomplete.js'></script>
  <script type="text/javascript" src='/javascripts/app.js'></script>
  <script type="text/javascript" src='/javascripts/progressbar.js'></script>
</head>

<script id="document-template" type="text/x-handlebars-template">
  <div id='document-preview'>
    <img src='{{ file.thumbnail_url }}' />
    <header>
      <p>{{ file.name }}</p>
      <h2>Add A message</h2>
        <textarea>
        </textarea>
    </header>
  </div>
</script>
</script>
<body>
  <section id='container'>
    <header id='main-header'>
      <h1><a href='/'>Finite Loop Consulting</a></h1>

    </header>
    <div id='container-inner'>
      <div id='body'>
        <%= yield %>
      </div>
    </div>
  </section>
</body>
</html>
