<section id='login'>
  <div id='inner'>
    <h2>Log In</h2>
    <form action='/login' method='post'>

      <%= styled_flash %>

      <div class='field'>
        <label>Email</label>
        <input type='text' name='email' />
      </div>

      <div class='field'>
        <label>Password</label>
        <input type='password' name='password' />
      </div>

      <button>Log In</button>
    </form>
  </div>
</section>