<!DOCTYPE html>
<html>
<head>
  <title>Documents</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script id="document-template" type="text/x-handlebars-template">
  <div id='document-preview'>
    <img src='{{ file.thumbnail_url }}' />
    <header>
      <p>{{ file.name }}</p>
      <h2>Add A message</h2>
        <textarea>
        </textarea>
    </header>
  </div>
</script>

</head>
<body>

  <section id='container'>
    <header id='main-header'>
      <h1><a href='/'>Finite Loop Consulting</a></h1>
    </header>
    <div id='container-inner'>
      <div id='body'>
        <%= yield %>
      </div>
    </div>
  </section>

</body>
</html>
